.foto-container div {
  width: 30%;
}
.foto-container img {
  width: 100%;
  height: auto;
}

.home-image {
  max-height: auto;
  max-width: 550px;
  width: 100%;
  /* flex-basis: 250px; */
  /* object-fit: cover; */
}
