@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Regular', 'Roboto', 'Times New Roman';
  font-size: 20px;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

.content-min-height {
  min-height: 80vh;
  overflow: hidden;
}

.orange-background {
  background-color: #ff9101;
}

.orange-color {
  color: #ff9101;
}

.button-orange-first {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #ff9101;
  border: 1px solid #ff9101;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.button-orange-first:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff9101;
  background: white;
  border: 1px solid #ff9101;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.button-orange-second {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff9101;
  background: white;
  border: 1px solid #ff9101;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.1s linear;
}

.button-orange-second:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #ff9101;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 10px;
}

.asside-menu-account > div {
  width: 100px;
  height: 100px;
}

.asside-menu-account div {
  border-top: 1px solid #ced4da;
}

.account-icon {
  font-size: 30px;
}

.max-block-size {
  display: block;
  width: 100%;
}

.button-add-size {
  width: 46px;
  height: 46px;
}

.palette-box {
  flex-basis: 250px;
}
.batch-box {
  width: 200px;
}
.image-batch-product-container {
  height: 200px;
}
.image-batch-product {
  max-height: 100%;
  max-width: 100%;
  /* object-fit: contain; */
}

.image-batch-batch-container {
  height: 200px;
}

.image-pallet-batch {
  /* height: 150px;
  object-fit: cover;
  width: auto; */
  max-height: 100%;
  max-width: 100%;
}

.image-batch-batch-small-container {
  height: 54px;
  width: 54px;
}

.image-pallet-batch-small {
  /* height: 40px; */
  /* height: auto;
  object-fit: cover;
  width: 100%; */
  max-height: 100%;
  max-width: 100%;
}

.image-product-order {
  width: 60px;
  height: 60px;
}

.pallet-min-width {
  min-width: 270px;
  /* max-width: 300px; */
}

.color-condition-1 {
  border-color: #38b000 !important;
}
.color-condition-2 {
  border-color: #38b000 !important;
}
.color-condition-3 {
  border-color: #ffa200 !important;
}
.color-condition-4 {
  border-color: #ffa200 !important;
}
.color-condition-5 {
  border-color: #ba181b !important;
}
.color-condition-6 {
  border-color: #ba181b !important;
}
.color-condition-7 {
  border-color: #c7f9cc !important;
}
.color-condition-8 {
  border-color: #a6c48a !important;
}

.products-box {
  width: 40px;
  height: 40px;
}
.asside-menu-account > a > div:nth-child(1) {
  min-width: 60px;
  min-height: 80px;
}
.asside-menu-account > a {
  flex-grow: 1;
}

.asside-shopcart {
  width: 100%;
  min-height: 300px;
}

/* @media only screen and (max-width: 600px) {
  .font-xxs {
    font-size: 9px;
  }
  .font-xs {
    font-size: 14px;
  }
  .font-s {
    font-size: 16px;
  }
  .font-m {
    font-size: 10px;
  }
  .font-l {
    font-size: 16px;
  }
  .font-xl {
    font-size: 26px;
  }
  .font-xxl {
    font-size: 34px;
  }
  .font-xxxl {
    font-size: 54px !important;
  }
} */

.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}

.font-l {
  font-size: 26px;
}
.font-xl {
  font-size: 36px;
}
.font-xxl {
  font-size: 44px;
}
.font-xxxl {
  font-size: 64px;
}

.square-30 {
  width: 30px;
  height: 30px;
}
.square-40 {
  width: 40px;
  height: 40px;
}
.square-54 {
  width: 54px;
  height: 54px;
}
.square-164 {
  width: 124px;
  height: 124px;
}

.z-index {
  z-index: 999;
}

.text-justify {
  text-align: justify;
}

.modal-height {
  max-height: 90vh;
  overflow-y: auto;
}
