.asside-menu-account > div {
  width: 100px;
  height: 100px;
}

.asside-menu-account div {
  border-top: 1px solid #ced4da;
}

.account-icon {
  font-size: 30px;
}

.max-block-size {
  display: block;
  width: 100%;
}
